/* ======================================
   WDD130 Week 2 Home Page Styles
   Author: Martins Chinedu Amorin
====================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: steelblue;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: center;
    background-color: steelblue;
    padding: 10px;
    gap: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 20px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    color: steelblue;
    margin-bottom: 15px;
}

main {
    max-width: 840px;
    margin: 1rem auto;
    padding: 1rem;
}

main img {
    width: 150px;
    height: auto;
    float: right;
    margin-left: 20px;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
    line-height: 1.6;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eeeeee;
    color: #333333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    padding: 1rem;
}

p {
    padding: 0;
}